Flask
flask-cors
python-dotenv
google-generativeai
gunicorn
git+https://github.com/jdepoix/youtube-transcript-api.git@master
git+https://github.com/pytube/pytube.git
python-docx
openpyxl
supabase
stripe
pypdf